<h1>{{title }}</h1>
<p>Welcome to  your {{title}}</p>

<div class="main-container">
    <a href="/registration"><p>Please click here to Hop in!!!</p></a>
	
    <p>Have an account already? log in below</p>
    <div class="container">
	<div class="main">
		<div id="error"></div>
		<form id="form_id" method="get" name="myform" action="/">
		<br>
			<label>User Name :</label>
			<input type="text" placeholder= "Your username?" name="username" id="username"/>
			
			<label>Password :</label>
			<input type="password" placeholder= "*********" name="password" id="password"/>
			
			<button type="submit" id="submit">SUBMIT</button>
		</form>
		<br>
		<span>
			<b class="note">Note : </b>Please note the following :
			<br/><b class="valid">User Name : *required <br/>Password : must be greater than six characters but less than twenty </b>
		</span>
	</div>
</div>



</div>



